body{
    height: 100vh;
    margin: 0;
    background: #f5f2ed;
}
.bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #d9d3c1;
    margin: 0px;
    width: 100%;
}
.logobar{
    display: flex;
    align-items: center;
    width: 65%;
}
.logobar img{
    height: 50px;
    margin-left: 60px;
    margin-right: 30px;
    border-radius: 40px;
    padding: 5px;
}
.icons{
    display: flex;
    align-items: center;
    margin-right: 60px;
}
.search{
    display: flex;
    align-items: center;
    height: 40px;
    border: solid 1px #664241;
    border-radius: 20px;
    width: 60%;
}
.search .fa-magnifying-glass{
    margin-left: 15px;
    margin-right: 10px;
    color: #664241;
    font-size: 16px;
}
.search input{
    border: none;
    outline: none;
    background: none;
    height: 40px;
    width: 90%;
    font-size: 16px;
    color: #664241;
}
.search input::placeholder{
    color: #664241;
}
.icons .fa-bars{
    margin-right: 20px;
    margin-left: 20px;
}
.icons .fa-bars{
    margin-right: 20px;
    margin-left: 50px;
}
.icons i{
    color: #664241;
    font-size: 25px;
    margin-right: 12px;
    margin-left: 50px;
}
.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f5f2ed;
    min-height: 50px;
}
.top a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(150, 114, 23);
    text-decoration: none;
    font-size: 20px;
    transition: 0.5s;
    padding: 2px 8px;
}
.top a:hover{
    color: rgb(150, 114, 23);
    font-size: 25px;
    background: #f5f2ed;
}
.top .ho{
    margin-left: 20px;
}
.top .dresses{
    font-size: 25px;
    color:rgb(150, 114, 23);
    background: none;
}
.top .ha{
    margin-right: 20px;
}

.big{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #d9d3c1;
    border-radius: 10px;
}
.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 100px;
    height: 450px;
}
.left h1{
    font-size: 120px;
    margin: 0px;
    color: rgb(150, 114, 23);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.left .T{
    font-family: 'Times New Roman', Times, serif;
    font-size: 125px;
}
.left p{
    margin-top: 0px;
    margin-left: 10px;
    font-size: 20px;
    width: 55%;
    line-height: 25px;
    letter-spacing: 1px;
    color: #664241;
}
.left .gold{
    color: rgb(150, 114, 23);
}
.big img{
    height: 500px;
    margin-right: 100px;
    padding: 20px;
    border-radius: 50px;
}
.trending{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}
.trending .button{
    height: 50px;
    width: 150px;
    background: #664241;
    color: #f5f2ed;
    border: none;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}
.trending .button a{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: #f5f2ed;
    border: none;
    border-radius: 20px;
    transition: 0.5s;
    position: relative;
    text-decoration: none;
}
.trending .button:hover{
    background: rgb(150, 114, 23);
}
.trending .button a:hover{
    background: rgb(150, 114, 23);
    font-size: 25px;
}
.images{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px;
    background: #d9d3c1;
    border-radius: 10px;
}
.images .one{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
}
.images .two{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.images .three{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.images .four{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.images .five{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.images .one img{
    margin-bottom: 15px;
    width: 220px;
    border-radius: 20px;
    margin-right: 10px;
    transform: scale(1);
    transition: 0.5s;
}
.images .one img:hover{
    transform: scale(1.05);
}
.images .two img{
    margin-bottom: 15px;
    width: 220px;
    border-radius: 20px;
    margin-right: 10px;
    transform: scale(1);
    transition: 0.5s;
}
.images .two img:hover{
    transform: scale(1.05);
}
.images .three img{
    margin-bottom: 15px;
    width: 220px;
    border-radius: 20px;
    margin-right: 10px;
    transform: scale(1);
    transition: 0.5s;
}
.images .three img:hover{
    transform: scale(1.05);
}
.images .four img{
    margin-bottom: 15px;
    width: 220px;
    border-radius: 20px;
    margin-right: 10px;
    transform: scale(1);
    transition: 0.5s;
}
.images .four img:hover{
    transform: scale(1.05);
}
.images .five img{
    margin-bottom: 15px;
    width: 220px;
    border-radius: 20px;
    margin-right: 10px;
    transform: scale(1);
    transition: 0.5s;
}
.images .five img:hover{
    transform: scale(1.05);
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}
.red{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background: #d9d3c1;
}
.up{
    width: 100%;
    height: 90%;
    display: flex;
}
.up img{
    height: 400px;
    border-radius: 20px;
}
.up .saii{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.up .ka{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.up .ka .pink{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}
.pink p{
    margin-left: 20px;
    color: rgb(150, 114, 23);
}
.up .ka .pink .no{
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.no .minus{
    width: 40px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: rgb(150, 114, 23) solid 1px;
    border-radius: 20px;
    color: rgb(150, 114, 23);
}
.no p{
    margin: 0px 10px;
    font-size: 20px; 
}
.no .plus{
    width: 40px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: rgb(150, 114, 23) solid 1px;
    border-radius: 20px;
    color: rgb(150, 114, 23);
}
.up .ka .size{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 20px;
}
.up .ka .size p{
    color: rgb(150, 114, 23);
}
.up .ka .size .sizes{
    display: flex;
    align-items: center;
    margin: 0px 20px;
}
.up .ka .sizes button{
    height: 40px;
    width: 100%;
    margin: 0px 5px;
    background: #d9d3c1;
    border: solid 1px rgb(150, 114, 23);
    border-radius: 7px;
    font-size: 16px;
    color: rgb(150, 114, 23);
}
.up .ka .size .table{
    margin-top: 20px;
}
.down{
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(150, 114, 23);
}
.down .blue{
    display: flex;
    align-items: center;
    margin-left: 30px;
}
.down .blue i{
    margin-right: 50px;
    font-size: 30px;
    color: #d9d3c1;
}
.down .green{
    display: flex;
    align-items: center;
    margin-right: 30px;
}
.down .green p{
    margin-right: 50px;
    font-size: 30px;
    color: #d9d3c1;   
}
.down .green i{
    margin-right: 50px;
    font-size: 30px;
    color: #d9d3c1;      
}
.red {
    position: fixed;
    top: 0;
    right: -1400px;
    transition: 0.5s;
}
.green button{
    height: 38px;
    width: 110px;
    background: #d9d3c1;
    color: rgb(150, 114, 23);
    border-radius: 15px;
    border: none;
    font-size: 15px;
    position: relative;
    transition: 0.5s;
}
.green button:hover{
    font-size: 18px;
    background: none;
    color: #d9d3c1;
    border: 1.5px solid #d9d3c1;   
}
.loading{
    display: flex;
    align-items: center;
    justify-content: center;
}
.loading p{
    display: flex;
    align-items: center;
    color: #333;
    font-size: 19px;
}
@media(max-width: 1200px) {
    .images .one img {
        width: 200px;
    }

    .images .two img {
        width: 200px;
    }

    .images .three img {
        width: 200px;
    }

    .images .four img {
        width: 200px;
    }

    .images .five img {
        width: 200px;
    }
}
@media(max-width: 1100px) {
    .images .one img {
        width: 230px;
        margin-left: 15px;
    }

    .images .two img {
        width: 230px;
    }

    .images .three img {
        width: 230px;
    }

    .images .four img {
        width: 230px;
    }

    .images .five img {
    display: none;
    }
    .icons i{
        margin-right: 20px;
        margin-left: 15px;
        font-size: 25;
    }
    .icons .fa-bars {
        margin-right: 10px;
        margin-left: 15px;
    }
    .icons a{
        margin: 0;
    }
}
@media(max-width: 1000px) {
    .images .one img {
        width: 200px;
        margin-left: 0px;
    }
    .images .two img {
        width: 200px;
    }

    .images .three img {
        width: 200px;
    }

    .images .four img {
        width: 200px;
    }
    .top {
        overflow-x: scroll;
    }
}
@media(max-width: 870px) {
    .images{
        margin-left: 0px;
    }
    .top {
        overflow-x: scroll;
    }
    .images .one img {
        width: 190px;
        margin-left: 0px;
    }
    .images .two img {
        width: 190px;
    }

    .images .three img {
        width: 190px;
    }

    .images .four img {
        width: 190px;
    }
    .logobar img {
        height: 50px;
        margin-left: 50px;
        margin-right: 20px;
    }

    .icons .fa-bars {
        margin-right: 5px;
        margin-left: 5;
    }
    .icons{
        margin-right: 30px;
    }
}
@media(max-width: 840px) {
    .images .one img {
        width: 230px;
        margin-left: 10px;
    }
    .images .two img {
        width: 230px;
    }

    .images .three img {
        width: 230px;
    }

    .images .four img {
        display: none;
    }
}
@media(max-width: 760px) {
    .images .one img {
        width: 210px;
        margin-left: 0px;
    }
    .images .two img {
        width: 210px;
    }

    .images .three img {
        width: 210px;
    }
}
@media(max-width: 690px) {
    .images .one img {
        width: 200px;
        margin-left: 0px;
    }
    .images .two img {
        width: 200px;
    }

    .images .three img {
        width: 200px;
    }
}
@media(max-width: 660px) {
    .search .fa-magnifying-glass {
    margin-left: 15px;
    margin-right: 10px;
    font-size: 14px;
    }
    .search{
        height: 35px;
    }
    .search input {
    height: 40px;
    font-size: 14px;
    }
    .logobar img{
        height: 40px;
        margin-left: 25px;
    }
    .icons i{
        font-size: 20px;
    }
    .images .one img {
        width: 190px;
        margin-left: 0px;
    }
    .images .two img {
        width: 190px;
    }

    .images .three img {
        width: 190px;
    }
}
@media(max-width: 630px) {
    .icons i{
        margin-right: 15px;
        margin-left: 10px;
        font-size: 23;
    }
    .icons .fa-bars {
        margin-right: 10px;
        margin-left: 10px;
    }
    .images .one img {
        width: 180px;
        margin-left: 0px;
    }
    .images .two img {
        width: 180px;
    }

    .images .three img {
        width: 180px;
    }
}
@media(max-width: 595px) {
    .images .one img {
        width: 230px;
        margin-left: 25px;
    }
    .images .two img {
        width: 230px;
    }

    .images .three img {
        display: none;
    }
}
@media(max-width: 555px) {
    .images .one img {
        width: 230px;
        margin-left: 5px;
    }
   
}
@media(max-width: 525px) {
        .images .one img {
        width: 218px;
        margin-left: 0px;
    }
    .images .two img {
        width: 218px;
    }
    .icons i{
        margin-right: 10px;
    }
    .icons .fa-bars {
        margin-right: 5px;
        margin-left: 10px;
    }
}